<ion-header>
  <ion-toolbar>
    <ion-title>
      Student Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card layout to display content organized within a card -->
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Maryville Student</ion-card-subtitle>
    <ion-card-title>Sandeep Dwivedi</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Name: Sandeep Dwivedi
  </ion-card-content>
  <ion-card-content>
    Student ID: sdwivedi
  </ion-card-content>
</ion-card>
</ion-content>
